{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Bineli Arsene">
    <title>{% block title %}Datnek - {% trans "Bienvenue sur l'application de gestion des langues" %} {% endblock title %}</title>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel="stylesheet">

    <style>
    {% block style %}
    {% endblock style %}
    </style>
  <head>

<body>
<div class="container">
{% block navigation %}
<nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  <span class="h1 mb-0">Datnek</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" {% if LANGUAGE_CODE == 'fr' %}active{% endif %} href="/fr/">{% trans "Francais" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" {% if LANGUAGE_CODE == 'en' %}active{% endif %} href="/en/">{% trans "Anglais" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" {% if LANGUAGE_CODE == 'nl' %}active{% endif %} href="/nl/">{% trans "Néerlandais" %}</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock navigation %}


{% block content %}


{% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>

<script>
{% block script %}
{% endblock script %}
</script>
</body>
</html>